@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body{
    height: 100vh ;
    padding: 1rem;
}
#root{
    height: inherit;
    --ff-protest-revolution: "Protest Revolution";
}
main{
    max-width: 1200px;
    margin: auto;
}
.form-container h1{
    font-family: var(--ff-protest-revolution);
    font-size: clamp(3rem, 5vw, 4rem);
}
.header{
    position: sticky;
    top: 0;
    padding: 1rem 0rem;
    box-shadow: 0 5px 15px -5px #00000030;
    background-color: white;
}
.sections{
    margin-top: 2cqmax;
}
@media(width>=960px){
    main{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 1rem;
    }
}
@media(width<960px){
    .header{
        text-align: center;
    }
}